.gallery-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    margin: 5px;
}

.gallery iframe {
    height: 400px;
    width: 600px;
}

.description {
    text-align: center;
}

.gallery-frame-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-2 iframe {
    max-width: 300px;
    max-height: 300px;
}